@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
}

ul {
    list-style-type: none;
}

.navbar{
    display: flex;
    flex-direction: column;
}

.top-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;

}

.dropdowns{
    display: flex;
    align-items: left;
}

.dropdowns li{
    padding: 5px;
}

.interactions{
    display: flex;
    white-space: nowrap;
    align-items: right;
}

.interactions li{
    padding: 5px;
}

.topic-container{
    display: flex;
    align-items: center;
    height: 39px;
    white-space: nowrap;
    justify-content: space-between;
    padding: 5px;

}

.topics {
    display: flex;
    overflow-y: hidden;
    padding: 5px 0px;
}

.topics li{
    width: auto;
    padding: 0px 10px;
    font-size: 14px;
}

.article-container{
    display: flex;
    justify-content: space-between;
    padding: 70px;

}

.main-articles{
    flex: 3 0 auto;
    background-color: aqua;
    padding: 10px;
}

.side-articles{
    flex: 2 0 auto;
    background-color: aquamarine;
}

#featured{
    display: flex;
    min-height: 400px;
}

#featured img{
    flex: 3 0 auto;
    background-color: antiquewhite;
}

.feat-textbox{
    display: flex;
    flex-direction: column;
    flex: 2 0 auto;
    background-color: bisque;
    padding: 10px;
}

.articles{
    display: flex;
    flex-direction: column;
}

.article{
    display: flex;
    flex-direction: column;
    max-width: fit-content;
    padding: 10px 0 10px 0;
}

.vid-box{
    display: flex;
    min-height: 322px;
    background-color: gray;
}